<div class="my-container">
  <h4 style="padding: 15px; background-color: #1B2838; color: white">
    <center>My Faves List</center>
  </h4>
  <h2 class="add-list"><a href="/review"><i
        class="add-list small material-icons"
      >add</i></a>
    Add To List
  </h2>

  <div class="row">
    {{#each favorites as |favorite|}}
      <div class="col s12 m6 l4">
        <div class="card medium">
          <div class="card-image">
            <img class="materialboxed" src={{favorite.image}} alt="" />
          </div>
            <button
              class="halfway-fab btn-floating pink pulse"
              data-id="{{favorite.id}}"
              id="deleteWishlistButton"
            >
              <i class="material-icons" data-id="{{favorite.id}}">delete</i>
            </button>
          <div class="card-content">
            <p class="my-card-title"><span
                class="bold"
              >{{favorite.game_title}}</span>
            </p>
            <p class="truncate"> {{favorite.review}}</p>
          </div>
          <div class="card-action">
            <i class="material-icons red-text">star</i>
            <i class="indigo-text" id="rating-text">RATING: {{favorite.rating}}</i>
          </div>
        </div>
      </div>
    {{/each}}


<script src="./js/favoritedelete.js"></script>